<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    
    <style>
        #cat {
            width: 100%;
            height: 320px;
            object-fit: cover;
            margin-bottom: 30px;
        }

        
    </style>
</head>
    
<body>
    {% include 'nav.html' %}
    <img class="img-responsive" id="cat" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREoRGyXmHy_6aIgXYqWHdOT3KjfmnuSyxypw&s">
    <div class="container">
        <h1 class="text-center mt-2 mb-4">Lala</h1>
        
        <div class="row">
            <div class="col-md-8">
        <p class="lead" style="margin-left:70px; margin-right:70px;">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
            </div>
            <div class="d none d-md-block col-md-4">
                <img src="/static/png.png" style="height:250px;">
            </div>
        </div>
            
        <h2 class="text-center" style="margin-top:10px;">Open positions</h2>
        <div style="margin-bottom:16px;"> 
            <p style="font-size: 20px">{{jobs | length}} positions open</p>
            {% for job in jobs %}
               {% include 'jobtem.html' %}
            {% endfor %}
        </div>
        <div class="text-center">
            <a target='_blank' href="https://google.com" class="btn btn-primary btn-lg" style="margin-bottom:30px; margin-top: 30px;">Contact Us</a>
           
        </div>
        
    </div>
   
</body>
     {% include 'footer.html' %}
</html>
